.menu {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  width: 400px;
  height: 500px;
  color: rgb(80, 77, 77);
}

.menu li {
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
  font-size: 20pt;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(233, 233, 233);
  list-style: none;
}

.home {
  border-left: 20px solid rgb(0, 140, 255);
}

.blog {
  border-left: 20px solid rgb(255, 230, 0);
}

.works {
  border-left: 20px solid rgb(255, 81, 0);
}

.about {
  border-left: 20px solid rgb(2, 167, 2);
}

i {
  padding-right: 20px;
  padding-left: 20px;
}

ul {
  display: block;
  margin: auto;
  text-align: left;
}

.menu li:hover {
  margin-right: 70px;
  transition: all 0.7s ease 0.2s;
  color: white;
}

.home:hover {
  background: rgb(0, 140, 255);
}

.blog:hover {
  background: rgb(255, 230, 0);
}

.works:hover {
  background: rgb(255, 81, 0);
}

.about:hover {
  background: rgb(2, 167, 2);
}